.grey-box {
    background-color: rgb(51, 51, 51);

    .divider-container {
        padding-top: 100px;
        padding-bottom: 100px;
        margin: 0 auto;
        text-align: center;
        width: 700px; 

        h1{
            color: white;
            padding-bottom: 30px;
        }

        p {
            padding-top: 30px;
            color:grey;
        }
    }    
}

.dark-grey-box {
    background-color: rgb(32, 32, 32);

    .sign-up-box { 
        padding-bottom: 100px;
        padding-top: 100px;
        width: 800px;
        margin: 0 auto;
        display: flex;

        img {
            width: 400px;
        }

        .input-box {
            margin-left: 50px;

            h4 {
                color: white;
                margin-bottom: 30px;
            }

            p {
                color: grey;
            }
            input {
                background-color: rgba(0, 0, 0, 0.473);
                height: 30px;
                width: 350px;
                margin-bottom: 30px;
            }

            button {
                width: 350px;
                height: 40px;
                background-color: #d3615e;
                color: white;
            }
        }
    }
}

.jumbotron {
    background: url('../assets/gym_bkgd_bw-compressor.jpg');
    background-size: cover;
    height: 400px;
    
    .jumbo-box {
        display: flex;
        padding-top: 150px;

        .card {
            text-align: center;
        }
    }
}